COMMON: &common
  DEBUG: False

  HOST: '127.0.0.1'
  PORT: 5000

  CACHE:
    TYPE: 'filesystem'
    DIRECTORY: 'data/cache'

  # example: `mysql://user:someuserpassword@localhost/app_db`
  SQLALCHEMY_DATABASE_URI: '<db_vendor>://<username>:<password>@<db_hostname>/<db_name>'

  EARTH_ENGINE_API:
    # service email address used in communicating with the Earth Engine API
    ACCOUNT: ''

    # path to the private key file
    PRIVATE_KEY: ''

    # secret password provided by the key generation tool
    KEY_SECRET: ''

    # array of scopes used to interact with the Earth Engine API
    SCOPES: []

  GOOGLE_API:
    API_KEY: ''
    FUSION_TABLES_SQL_ENDPOINT: 'https://www.googleapis.com/fusiontables/v1/query'

  PROVINCES_FT:
    LOCATION_METADATA_FUSION_TABLE: ''
    LOCATION_FUSION_TABLE_COLUMN: ''

DEVELOPMENT: &development
  <<: *common
  DEBUG: True

# PRODUCTION: &production
#   <<: *common


